In [26]:
# Importando as bibliotecas
import pandas as pd
import numpy as np
from math import ceil
from sklearn.model_selection import train_test_split

# Visualização do dados

In [27]:
dados = pd.read_csv('../Data/population.csv')
dados.head()

                  Name  Age  Weight       State
0       Angelica Stout   79   53.84    New York
1          John Guzman   36   59.56  California
2         Jacob Fisher   69  105.62    New York
3         Emily Nguyen   65   72.62    New York
4  Mary Fitzpatrick MD   67   65.98       Texas

In [28]:
dados['State'].value_counts()

State
New York      50
California    50
Texas         50
Name: count, dtype: int64

# Amostragem Simples

In [29]:
# Criando uma amostra aleatória simples com reposição
np.random.seed(42)
amostra = np.random.choice(a = [0, 1], size = 150, replace = True,
                           p = [0.5, 0.5])
amostra

array([0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0])

In [30]:
# Seleção da base de dados dos valores correspondentes a amostra igual a 1
dados_selecionados = dados.loc[amostra == 1]
dados_selecionados.shape

(70, 4)

# Amostragem estratificada

In [31]:
# Separando a base de dados em estratos a partir da variável 'State'
amostraX, _, amostraY, _ = train_test_split(dados.iloc[:, 0:3], dados.iloc[:, 3],
                              test_size = 0.5, stratify = dados.iloc[:,3])
amostraY.value_counts()

State
Texas         25
New York      25
California    25
Name: count, dtype: int64

In [32]:
# Reunindo as colunas de amostraX e amostraY em um dataframe
# Axis = 1 indica que a concatenação será feita pelas colunas
amostra_completa = pd.concat([amostraX, amostraY], axis=1)
amostra_completa.head()

               Name  Age  Weight     State
6   Maria Rodriguez   21   85.53     Texas
89  Tabitha Leblanc   21   75.01  New York
71    Bradley Carey   69   74.02     Texas
24       James Horn   43   74.89     Texas
62    Steven Torres   72   74.16  New York

# Amostragem Sistemática

In [33]:
# Criação do valor k, k é o valor usado para incrementar o valor de i.
# n é o tamanho da amostra que queremos coletar.
n = 50
k = ceil( len(dados) / n)
k

3

In [34]:
# Criação do valor do intervalo de seleção.
# O valor i é o tamanho do passo, ou seja, a cada i elementos, um é selecionado.
i = np.random.randint(low = 1, high = k + 1, size = 1)
i

array([2])

In [35]:
# Criação da lista com o index dos selecionados
passo = i[0]
selecionados = []
for j in range(n):
    selecionados.append(passo)
    passo += k
print(selecionados)

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89, 92, 95, 98, 101, 104, 107, 110, 113, 116, 119, 122, 125, 128, 131, 134, 137, 140, 143, 146, 149]

In [36]:
# Número da amostra
len(selecionados)

50

In [37]:
# Amostra
dados_selecionados = dados.loc[selecionados]
dados_selecionados

                     Name  Age  Weight       State
2            Jacob Fisher   69  105.62    New York
5           Ashley Cooper   80   56.85    New York
8           Ruben Alvarez   66  116.09    New York
11          Christy Kline   72   66.56    New York
14         Joseph Hickman   80   74.47  California
17         Benjamin Allen   26   73.08       Texas
20           Ashley Smith   34   87.38  California
23            Angela Dyer   29   73.93    New York
26        Stephanie Mayer   31  115.33       Texas
29             Cody Rocha   75   68.96  California
32          Natalie David   41   60.95       Texas
35             Kevin Kerr   38   79.14       Texas
38           David Decker   70  112.72    New York
41            Lynn Miller   18   80.63    New York
44      William Hernandez   52   65.92       Texas
47            John Ritter   42   90.19       Texas
50         Matthew Garcia   31  109.63  California
53            Maria Davis   38   86.38  California
56       Caitlyn Figueroa   69   62.91    New York
59            Susan Huang   60  112.80  California
62          Steven Torres   72   74.16    New York
65               Jacob Wu   44   86.93  California
68         Allison Martin   57   79.30    New York
71          Bradley Carey   69   74.02       Texas
74          Derrick Jones   53   59.26       Texas
77            Beth Medina   80  118.82  California
80        Ronald Hamilton   27   55.79  California
83         Michael Campos   75  110.03  California
86             Ryan Weeks   30  119.23  California
89        Tabitha Leblanc   21   75.01    New York
92         Sally Lawrence   37   68.91    New York
95       Jonathan Burnett   56   57.06       Texas
98            Thomas Berg   46   75.32    New York
101         Matthew Smith   30   52.05       Texas
104          Kathy Acosta   79   69.33       Texas
107        Kristin Ramsey   58  117.93    New York
110          Alicia Smith   51   66.21    New York
113       Christine Clark   22   88.61       Texas
116       Matthew Jackson   36   68.51  California
119         Mark Gonzalez   79  105.42       Texas
122  Margaret Fitzpatrick   47  109.52       Texas
125           Mark Rhodes   22  105.47       Texas
128         Amanda Levine   66   74.38  California
131        Anthony Wright   20   95.93  California
134        Joseph Higgins   42   78.29  California
137       Christina Vance   46   82.41  California
140         Derrick Logan   28   76.61       Texas
143         Sonya Collins   56   94.31       Texas
146         Gregory Moore   51   67.52    New York
149       Zachary Edwards   64  111.21  California

# Amostragem por conglomerado

In [38]:
# Dividir os dados em 3 partes
conglomerado1 = dados.iloc[0:49,:]
conglomerado2 = dados.iloc[50:99,:]
conglomerado3 = dados.iloc[100:149,:]

In [39]:
# Sorteando um conglomerado
sorteado = np.random.choice(['conglomerado1', 'conglomerado2', 'conglomerado3'], 1, replace=False)
sorteado

array(['conglomerado1'], dtype='<U13')

# Amostragem por cotas

In [40]:
# Separar os dados por estratos(Estados)
estado1 = dados[dados['State'] == 'New York']
estado2 = dados[dados['State'] == 'California']
estado3 = dados[dados['State'] == 'Texas']

In [41]:
# A cota usada será a cota de idade.
estado1_cota = estado1[estado1['Age'] <= 60]

# Sortear 15 valores da cota para o estado 1.
estado1_cota = estado1_cota.sample(n=15, random_state=1)

# Separar os valores do estado 1 que não estão na cota
# ~ inverte o resultado da função isin(), retornando a lista de valores que não estão na cota
estado1_sem_cota = estado1[~estado1['Age'].isin(estado1_cota['Age'])]

# Sortear 10 valores do estado 1 que não estão na cota
estado1_sem_cota = estado1_sem_cota.sample(n=10, random_state=1)

# Concatenar os dois dataframes
estado1_amostra = pd.concat([estado1_cota, estado1_sem_cota])

# Amostra
estado1_amostra.shape

(25, 4)

In [42]:
# Estado 2
estado2_cota = estado2[estado2['Age'] <= 60]
estado2_cota = estado2_cota.sample(n=15, random_state=1)
estado2_sem_cota = estado2[~estado2['Age'].isin(estado2_cota['Age'])]
estado2_sem_cota = estado2_sem_cota.sample(n=10, random_state=1)
estado2_amostra = pd.concat([estado2_cota, estado2_sem_cota])
estado2_amostra.shape

(25, 4)

In [43]:
# Estado 3
estado3_cota = estado3[estado3['Age'] <= 60]
estado3_cota = estado3_cota.sample(n=15, random_state=1)
estado3_sem_cota = estado3[~estado3['Age'].isin(estado3_cota['Age'])]
estado3_sem_cota = estado3_sem_cota.sample(n=10, random_state=1)
estado3_amostra = pd.concat([estado3_cota, estado3_sem_cota])
estado3_amostra.shape

(25, 4)

In [45]:
# Juntar as amostras em um único dataframe sem repetir as colunas
amostra_completa2 = pd.concat([estado1_amostra, estado2_amostra, estado3_amostra])
amostra_completa2.shape

(75, 4)